// mymenu.scss


@import "compass/reset";
@import "compass/css3/box-shadow";
@import "compass/css3/user-interface";
@import "compass/css3/animation";
@import "animate";
@import "myanimation";


$mymenu_color1: #79a002;
$mymenu_color2: #9e1847;
$mymenu_color3: rgba(lighten(#38b0db, 30%), 1.0);
$mymenu_color4: rgba(lighten(#59eae0, 25%), 1.0);
$mymenu_color5: rgba(lighten(#52caea, 25%), 1.0);
$mymenu_color6: #c4edf8;

$mymenu_width: 300px !default;
$mymenu_height: 0 !default;
$mymenu_fgcolor: #fff !default;
$mymenu_bgcolor: $mymenu_color1 !default;
$mymenu_font_size: 16px !default;
$mymenu_trigger_width: 40px !default;
$mymenu_trigger_height: 40px !default;
$mymenu_bordercolor: $mymenu_color6 !default;
$mymenu_hovercolor: $mymenu_color6 !default;
$mymenu_label_fgcolor: rgba(#333, 1.0) !default;
$mymenu_label_bgcolor: darken(rgba(#f6f6f6, 1.0), 3%) !default;
$mymenu_enable_shadow: "true" !default;

$debug: "false";


@mixin horizontal_arrow($direction: -45deg, $thick: 2px) {
    @include transform(rotate($direction));
    border-bottom: $thick solid rgba($mymenu_fgcolor, 1.0);
    border-right: $thick solid rgba($mymenu_fgcolor, 1.0);
    border-left: none;
    border-top: none;
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-bottom: -4px;
    position: absolute;
    bottom: 50%;
    color: transparent;
    background-color: transparent;
    content: '';
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    src: url("../font/Lato-Light.woff") format("woff");
    src: url(https://fonts.gstatic.com/s/lato/v10/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

.mymenu_wrapper {
    font-family: "Lato", "Calibri", "Arial", sans-serif;
    font-size: $mymenu_font_size;
    font-weight: 300;
    text-align: left;

    section.mymenu_mainmenu, section.mymenu_submenu {
        @if $mymenu_enable_shadow == "true" {
            @if $debug == "false" {
                @include box-shadow(0 2px 6px rgba(0, 0, 0, 0.3));
            }
            @else {
                @include box-shadow(3px 3px 0 rgba(0, 0, 0, 1));
            }
        }

        border: 1px solid $mymenu_bordercolor;
        list-style: none;

        width: $mymenu_width;

        &.mymenu_mainmenu {
            @if $debug == "true" {
                display: none;
            }
        }

        &.mymenu_submenu {
            display: none;
        }

        > nav {
            color: $mymenu_fgcolor;
            background-color: $mymenu_bgcolor;
            font-size: $mymenu_font_size;
            width: 100%;

            > a, > span, > div {
                @include user-select(none);
                cursor: pointer;
                display: block;
                padding: 10px 20px;
            }

            > a {
                color: $mymenu_fgcolor;
                text-decoration: none;
                position: relative;

                > * {
                    margin-right: 20px;
                }
            }

            > a:after {
                @include horizontal_arrow(-45deg, 2px); // >
                right: 20px;
            }

            &:hover:not(.mymenu_disable_hover):not(.mymenu_title):not(.mymenu_label):not(.mymenu_label2) {
                > a, > span, > div {
                    background-color: $mymenu_hovercolor;
                    text-decoration: none;
                }
            }

            &.mymenu_back {
                > a {
                    position: relative;
                    padding-left: 40px;

                    &:after {
                        @include horizontal_arrow(135deg, 2px); // <
                        left: 20px;
                    }
                }
            }

            &.mymenu_title {
                > a, > span {
                    text-align: center;
                }
            }

            &.mymenu_label, &.mymenu_label2 {
                > a, > span {
                    color: $mymenu_label_fgcolor;
                    background-color: $mymenu_label_bgcolor;
                    font-size: 12px;
                    padding: 3px 15px;
                }
            }

            &.mymenu_label2 {
                > a, > span {
                    text-align: right;
                }
            }
        }
    }

    .mymenu_animate_in1 {
        @include animation(MenuAnimIn1 0.3s);
    }

    .mymenu_submenu.mymenu_animate_in1 {
        @include animation(SubMenuAnimIn1 0.4s ease);
    }

    .mymenu_animate_out1 {
        @include animation(MenuAnimOut1 0.4s);
    }

    .mymenu_submenu.mymenu_animate_out1 {
        @include animation(SubMenuAnimOut1 0.4s ease);
    }

    .mymenu_animate_in2 {
        @include fadeIn(0.2s, 0s, ease, both, hidden);
    }

    .mymenu_animate_out2 {
        @include fadeOut(0.3s, 0s, ease, both, hidden);
    }

    .mymenu_animate_in3 {
        @include fadeInRight(0.3s, 0s, ease, both, hidden);
    }

    .mymenu_animate_out3 {
        @include fadeOut(0.4s, 0s, ease, both, hidden);
    }

    .mymenu_animate_in4 {
        @include fadeInDown(0.3s, 0s, ease, both, hidden);
    }

    .mymenu_animate_out4 {
        @include fadeOut(0.4s, 0s, ease, both, hidden);
    }

    .mymenu_animate_in5 {
        @include fadeIn(5s, 0s, ease, both, hidden);
    }

    .mymenu_animate_out5 {
        @include fadeOut(5s, 0s, ease, both, hidden);
    }
}

button.mymenu_trigger {
    @mixin trigger_style {
        background-color: $mymenu_bgcolor;
        width: 100%;
        height: 20%;
        display: block;
        position: absolute;
        content: '';
    }

    @if $mymenu_enable_shadow == "true" {
        @include box-shadow(0 2px 6px rgba(0, 0, 0, 0.3), 0 4px 15px -5px rgba(0, 0, 0, 0.0));
    }

    color: $mymenu_fgcolor;
    background-color: $mymenu_bgcolor;
    width: $mymenu_trigger_width;
    height: $mymenu_trigger_height;
    padding: 0;
    cursor: pointer;
    //border-style: none;
    border: 1px solid $mymenu_bordercolor;
    display: block;
    text-align: center;
    vertical-align: middle;

    span {
        width: $mymenu_trigger_width * 0.65;
        height: $mymenu_trigger_height * 0.5;
        background-color: rgba($mymenu_fgcolor, 0.75);
        display: block;
        margin: 0 auto;
        position: relative;

        &:before {
            @include trigger_style;
            top: 20%;
        }

        &:after {
            @include trigger_style;
            top: 60%;
        }
    }

    &:focus {
        outline: none;
    }

    &:hover {
        color: $mymenu_fgcolor;
        background-color: rgba(lighten($mymenu_bgcolor, 5%), 1.0);
        text-decoration: none;
    }
}

